div.ppp-pui {padding-bottom: 20px;}
div.ppp-pui table{margin-left: auto;margin-right: auto;}
div.ppp-pui table tbody tr td{text-align:left;padding:0 5px;}
div.ppp-pui table tbody tr td.ppp-pui-label{width:20%;}