<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * Author Robert Hillebrand - hillebrand@i-ways.de - i-ways sales solutions GmbH
 * Copyright i-ways sales solutions GmbH © 2015. All Rights Reserved.
 * License http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="iways_paypalplus_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayPal PLUS Settings</label>
                <field id="germany_only" type="text" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Germany only</label>
                    <comment><![CDATA[Only available for merchants located in Germany. Please switch your merchant country to Germany. (Merchant Location -> Merchant Country -> Germany)]]></comment>
                    <frontend_model>Iways\PayPalPlus\Block\Config\System\Config\Form\Comment</frontend_model>
                </field>
            </group>
        </section>
        <section id="payment_de">
            <group id="iways_paypalplus_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayPal PLUS Settings</label>
                <comment><![CDATA[]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex paypalplus-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <field id="germany_only" type="text" translate="label comment" sortOrder="5" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Germany only</label>
                    <comment><![CDATA[Only available for german merchant. Please switch merchant country to Germany]]></comment>
                    <frontend_model>Iways\PayPalPlus\Block\Config\System\Config\Form\Comment</frontend_model>
                </field>
                <group id="iways_paypalplus_api" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
                    <comment><![CDATA[<a href="https://www.paypalobjects.com/webstatic/de_DE/downloads/PayPal_Nutzung_der_REST_API.pdf" target="_blank">How to retrieve your PayPal API credentials.</a>]]></comment>
                    <label>PayPal PLUS Api Settings</label>
                    <attribute type="expanded">1</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="client_id" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client ID</label>
                        <config_path>iways_paypalplus/api/client_id</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="client_secret" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client Secret</label>
                        <config_path>iways_paypalplus/api/client_secret</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="mode" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Mode</label>
                        <source_model>Iways\PayPalPlus\Model\System\Config\Source\Mode</source_model>
                        <config_path>iways_paypalplus/api/mode</config_path>
                    </field>
                    <field id="paypalplus_hdrimg" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Header Image URL</label>
                        <comment><![CDATA[The image at the top left of the checkout page. Max size is 750x90-pixel. <strong style="color:red">https</strong> is highly encouraged.]]></comment>
                        <config_path>iways_paypalplus/api/hdrimg</config_path>
                    </field>
                </group>
                <group id="iways_paypalplus" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[PayPal PLUS Payment Settings]]></label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/iways_paypalplus_payment/active</config_path>
                    </field>
                    <field id="show_loading_indicator" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show loading indicator</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/iways_paypalplus_payment/show_loading_indicator</config_path>
                    </field>
                    <field id="transfer_reserved_order_id" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Transfer order's ID as PayPal invoice number</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/iways_paypalplus_payment/transfer_reserved_order_id</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/iways_paypalplus_payment/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                        <config_path>payment/iways_paypalplus_payment/specificcountry</config_path>
                    </field>
                    <field id="third_party_moduls" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Add payment methods to PayPal PLUS frame</label>
                        <source_model>Iways\PayPalPlus\Model\System\Config\Source\ThirdPartyModuls</source_model>
                        <can_be_empty>1</can_be_empty>
                        <config_path>payment/iways_paypalplus_payment/third_party_moduls</config_path>
                    </field>
                </group>
                <group id="third_party_modul_info" type="text" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                    <label>PayPal PLUS Third party methods info text</label>
                    <comment>Only selected and saved third party payments will be shown.</comment>
                    <frontend_model>Iways\PayPalPlus\Block\Adminhtml\System\Config\ThirdPartyInfo</frontend_model>
                    <field id="text_dummy" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>dummy</label>
                        <config_path>payment/third_party_modul_info/text_dummy</config_path>
                    </field>
                </group>
                <group id="iways_paypalplus_dev" translate="label" showInDefault="1" showInWebsite="1" sortOrder="60">
                    <label>PayPal PLUS Development Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="debug" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>iways_paypalplus/dev/debug</config_path>
                    </field>
                    <field id="pui_sandbox" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show PuI in Sandbox</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>iways_paypalplus/dev/pui_sandbox</config_path>
                    </field>
                    <field id="token_cache" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Cache access token</label>
                        <comment>Reduces API calls</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>iways_paypalplus/dev/token_cache</config_path>
                    </field>
                    <field id="web_profile_id" translate="label" type="text" sortOrder="60" showInDefault="0" showInWebsite="0" showInStore="0">
                        <label>Web-Profile ID</label>
                        <config_path>iways_paypalplus/dev/web_profile_id</config_path>
                    </field>
                    <field id="webhook_id" translate="label" type="text" sortOrder="70" showInDefault="0" showInWebsite="0" showInStore="0">
                        <label>Webhook ID</label>
                        <config_path>iways_paypalplus/dev/webhook_id</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
